
body {
    background-color: #fdfcfc;
    color: rgb(20, 20, 20);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #e0e0e0;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}